name: Release
on:
  workflow_run:
    workflows: ["Build"]
    branches: [main]
    types: 
      - completed

    
jobs: 
    build:
  
      runs-on: ubuntu-latest
  
      steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Install wasm-pack
        run: curl https://rustwasm.github.io/wasm-pack/installer/init.sh -sSf | sh
      
      - name: Build
        run: wasm-pack build --target web --out-dir build
      
      - name: Commit new build to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          FOLDER: build
              
